---
import type { CollectionEntry } from 'astro:content';
import Pill from './Pill.astro';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a
    href={`/${post.id}`}
    class="group block rounded-sm border border-neutral-200 p-4 hover:border-neutral-300"
>
    <div class="flex items-center gap-2 text-xs">
        <Pill text={post.data.category} />
    </div>

    <h4
        class="mt-1 text-xl font-semibold text-indigo-500 group-hover:text-indigo-700 group-hover:underline"
    >
        {post.data.title}
    </h4>

    <p class="mt-2">{post.data.description}</p>
</a>
