---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer class="border-t border-gray-200 bg-neutral-100 px-4 py-8 text-center">
    <p class="m-0">&copy; {today.getFullYear()} {SITE_TITLE}</p>
</footer>
