---
interface Props {
    text: string;
    variant?: 'primary' | 'secondary' | 'success' | 'warning' | 'danger';
}

const { text, variant = 'primary' } = Astro.props;

const variants = {
    primary: 'bg-indigo-50 text-indigo-500 border-indigo-100',
    secondary: 'bg-gray-50 text-gray-700 border-gray-200',
    success: 'bg-lime-50 text-lime-700 border-lime-200',
    warning: 'bg-yellow-50 text-yellow-700 border-yellow-200',
    danger: 'bg-red-50 text-red-700 border-red-200',
};
---

<span
    class={`inline-flex items-center px-2.5 py-0.5 rounded-full text-xs border ${variants[variant]}`}
>
    {text}
</span>
