---
import BaseLayout from './BaseLayout.astro';

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="flex gap-8">
        <div class="flex-1">
            <slot />
        </div>

        <aside class="hidden w-80 flex-shrink-0 md:block">
            <slot name="aside" />
        </aside>
    </div>
</BaseLayout>
